<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <div class="">
      <h2>Log in</h2>
    </div>
    <form class="login" action="login" method="post">
      <input type="text" name="username" placeholder="Enter user name">
      <input type="text" name="password" placeholder="Enter password">
      <input type="submit" name="" value="">
    </form>
  </body>
</html>
