<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User01</title>
  </head>
  <body>
    {{> nav}}
    <p>Hi I am User 01</p>

    <a href="/user/addInfo">Enter Information</a>
  </body>
</html>
